/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
      padding: 0;
        border: 0;
          font-size: 100%;
            font: inherit;
              vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html { 
  height: 100%; 
}
body {
  line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
      content: none;
}
table {
    border-collapse: collapse;
      border-spacing: 0;
}

body {
  height: 100%;
  min-width: 1000px;
  font-family: 'Istok Web', sans-serif; font-weight: lighter;
  background: url('/images/dark-background.png');
  color: #AAA;
}

a {
  color: #AAA;
  text-decoration: none;
}

a:hover {
  color: #AAA;
  text-decoration: underline;
}

h1 {
  color: #FFF;
  font-size: 40px;
}

h2 {
  color: #FFF;
  font-size: 20px;
  padding: 2% 0;
}

input {
  border: 1px solid #CCC;
  margin-bottom: 5px;
}

button {
  background: #C80815;
  padding: 2px 5px;
  margin: 5px 0;
  color: #FFF;
  border: none;
  border-radius: 3px;
  font-size: 15px;
}

div.admin-header {
  padding: 1%;
  height: 5%;
}

div.user-admin {
  position: relative;
  height: 45%;
  width: 100%;
  clear: both;
}

div.user-details {
  float: left;
  padding: 2%;
  width: 70%;
  height: 80%;
}

div.user-list {
  float: left;
  width: 20%;
  height; 100%;
  padding: 2%;
}

div.user-list ul {
  width: 100%;
}

div.user-list ul  li {
  padding: 5px 0;
}

div.user-list input {
  width: 100%;
}

div.admin-dashboard {
  height: 30%;
  padding: 0 2%;
  position: relative;
  clear: both;
}

div.recent-bookmarklets {
  float: left;
  width: 40%;
}

div.recent-bookmarklets ul {
  height: 100%;
}

div.recent-bookmarklets ul  li {
  padding: 5px 0;
}

div.add-lede {
  float: left;
  height: 100%;
  width: 30%;
  padding: 0 1%
}

div.add-lede ul  li {
  padding: 5px 0;
}
div.add-lede input {
  width: 100%;
}

div.last-email-sent {
  float: right;
  text-align: right;
  height: 100%;
  width: 20%;
}
