body {
  font-family: 'Andada', sans-serif; font-weight: lighter;
  background: url('/images/brillant.png');
}

div.mark {
  overflow: hidden;
  float: left;
  height: 100%;
  width: 100px;
  padding: 5px;
  -webkit-box-sizing: border-box;
}

div.mark div.box {
  display: inline;
  float: left;
  clear: none;
  border: 10px solid #C80815;
  height: 80px;
  width: 100%;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
}

div.mark div.line {
  border-bottom: 10px solid #C80815;
  float: left;
  clear: left;
  width: 100%;
  margin-top: 22px;
  border-radius: 4px;
}

h1 {
  float: left;
  clear: none;
  margin: 0px;
  margin-top: -37px;
  font-size: 200px;
  font-weight: lighter;
  color: #333;
}

div.logo {
  overflow: hidden;
  height: 180px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

p.tagline {
  font-size: 60px;
  width: 700px;
  margin-top: -20px;
  margin-left: 30%;
  color: #555;
  letter-spacing: 0.29em; 
  margin-left: auto;
  margin-right: auto;
}
